DATABASE_URL="mysql://root:rootpassword@localhost:3307/miniagil"
REDIS_URL="redis://localhost:6379"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="miniadmin"
MINIO_SECRET_KEY="minipassword"
JWT_SECRET="change-me"
API_PORT=4000
